#login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4rem;
  background-color: #E0D0C1;
  color: black;
  margin: 0 auto;
  width: 35vw;
  min-width: min-content;
  padding: 8vh 2vw;
  padding-top: 5vh;
}

#login-page > h1 {
  margin-top: 0;
  margin-bottom: 4vh;
}

#login-page > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-page > form > input {
  font-size: 1.4rem;
  background-color: #EAF3F3;
  border: 2px solid black;
  line-height: 2.2rem;
  margin-bottom: 2vh;
  min-width: 350px;
  max-width: 420px;
  width: 100%;
}

#submit-login:hover {
  background-color: lightgray;
}

#login-page > form > p > a {
  color: black;
}

#login-page > form > p > a:visited {
  color: black;
}
